@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
/* @import "flowbite"; */



/* client/src/App.css */
.App {
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.categories {
  margin-bottom: 20px;
  text-align: center;
}

.icon {
  text-align: center;
}

.icon svg {
  width: 60px;
  height: 60px;
}

.icon-name {
  margin-top: 8px;
  font-size: 0.9em;
  color: #555;
}
